h1
    {color: purple;}
h2
    {color: black;}
ul
    {list-style-type:none;}
body {
    background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--JbuG3TuW--/c_scale,f_auto,fl_progressive,q_80,w_800/ibcxrovptxwlv5ggtonk.gif");
        background-position: center;
            background-size: 5px 1px;
    }
    
.Fuchsia {
    color:Fuchsia ;
}
.white {
    color:white ;
}
p {
    margin:2cm 4cm 2cm 4cm;
}
p {
    padding:2cm 4cm 3cm 4cm;
}
P {
    Border: 5px solid white;
}
}